<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si la solicitud NO es para un archivo o directorio existente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirige todo a index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
